
<div class="container">
    <div class="place-cnt-wrapper">
        <h2>수집한 총 Place 개수: <span class="js-span-place-cnt"></span>개</h2>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>FIND CNT</th>
                <th width="10">NAVER ID</th>
                <th width="10">CONTROL</th>
            </tr>
        </thead>
        <tbody class="js-tbody-place-list"></tbody>
    </table>
</div>
