
.container {
    padding: 32px;
}
h2 {
    margin: 0;
    font-weight: 500;
}
h2 span {
    font-weight: 900;
    font-size: 2rem;
}
table {
    margin-top: 64px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
table thead tr th {
    background: #EFEFEF;
    padding: 12px;
}
table tbody tr td {
    padding: 8px 0;
    border-bottom: 1px solid #EFEFEF;
}
table tbody tr td input {
    padding: 4px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #EFEFEF;
}
table tbody tr td input:focus {
    border: 1px solid #DFDFDF;
}
table tbody tr td button {
    cursor: pointer;
    border: 1px solid #DFDFDF;
    background: #EFEFEF;
    padding: 4px 8px;
    font-size: 1rem;
    font-weight: 400;
}
table tbody tr td button:hover {
    background: #DFDFDF;
}
