<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="description" content="Plapick" />
    <meta name="keywords"  content="" />
    <meta name="theme-color" content="#FFFFFF">
    
    <title>지원 | 플레픽</title>

    <link rel="stylesheet" href="/css/common.css" />
</head>
<body>
    <article>
        <div class="wrapper">
            <h1>플레픽 지원 페이지입니다.</h1>

            <p>서비스 페이지를 점검중입니다.</p>

            <p>문의사항이 있으시다면 logicador@gmail.com 으로 문의 부탁드립니다.</p>
            <p>감사합니다.</p>
        </div>
    </article>

</body>
</html>